@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}


/* Heart shape */
#heart{
  position: fixed; /* Change to fixed position */
  left: 40%;
  width: 100px;
  height: 90px;
  bottom: 10%; /* Stick to the bottom of the viewport */
}
#heart:before,
#heart:after{ 
  content: "";
  position: absolute;
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #CC3E3E;
  border-radius: 50px 50px 0;
  transform-origin: 0 100%;
  transform: rotate(-45deg);
}
#heart:after{
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
}

/* Keyframe animation */
@keyframes heartbeat {
0% {
  transform: scale(1);
}
15% {
  transform: scale(1.4);
}
30% {
  transform: scale(1);
}
45% {
  transform: scale(1.4);
}
70% {
  transform: scale(1);
}
}

/* Apply the animation to the heart shape */
#heart {
animation: heartbeat 1.3s infinite;
justify-content: center;
}

#heartext{
  font-size: 40px;
  position: fixed;
  left: 47%;
  bottom: 13vh;
  text-align: center;
  background-color: rgb(229, 231, 235);
  border-radius: 8%;
  justify-content: space-around;
  margin-left: 15px;

}

@media screen and (max-width: 1644px) {
  #heartext {
    font-size: 30px; /* Adjust the font size as needed */
  }
}
@media screen and (max-width: 1400px) {
  #heartext {
    font-size: 10px;
  }
  #heart{
    position: fixed; /* Change to fixed position */
    left: 40%;
    width: 50px;
    height: 40px;
    // bottom: 10%; /* Stick to the bottom of the viewport */
  }
}

body {
  background-color: rgb(229, 231, 235);
}

.formContainerTwo {
  background-color: rgb(229, 231, 235);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: rgb(248 113 113);
      font-weight: bold;
      font-size: 24px;

    }

    .title {
      color: #5d5b8d;
      font-size: 12px;
    }

    .label {
      color: rgb(252 165 165);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid rgb(254 202 202);

        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: rgb(252 165 165);
        color: rgb(75 85 99);
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }

    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.formContainer {
  background-color: rgb(229, 231, 235);
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: rgb(248 113 113);
      font-weight: bold;
      font-size: 24px;

    }

    .title {
      color: #5d5b8d;
      font-size: 12px;
    }

    .label {
      color: rgb(252 165 165);
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid rgb(254 202 202);

        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: rgb(252 165 165);
        color: rgb(75 85 99);
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }

    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

#userImage {
  // padding-left: ;
  margin-left: 5vw;
}

.home {
  background-color: rgb(229, 231, 235);
  height: 100vh;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;

  .container {
    margin-top: 2%;
    // border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;

    @include tablet {
      width: 90%;
    }

    .sidebar {
      flex: 1;
      background-color: rgb(253, 253, 253);
      position: relative;
      border-right: 1px solid rgb(229, 231, 235);

      .navbar {
        display: flex;
        align-items: center;
        background-color: white;
        height: 50.5px;
        padding: 10px;
        justify-content: space-between;
        color: rgb(31 41 55);
        border-bottom: 1px solid rgb(229, 231, 235);

        .logo {
          font-weight: bold;
          color: rgb(239 68 68);

          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;

          img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: #5d5b8d;
            color: #ddddf7;
            font-size: 10px;
            border: none;
            cursor: pointer;

            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }

      .search {
        border-bottom: 1px solid rgb(229, 231, 235);

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder {
              color: lightgray;
            }
          }
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: rgb(31 41 55);
        cursor: pointer;

        &:hover {
          background-color: rgb(254 226 226);
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: 500;
          }

          p {
            font-size: 14px;
            color: rgb(75 85 99);
          }
        }
      }
    }

    .chat {
      flex: 2;

      .chatInfo {
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: rgb(31 41 55);
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        img {
          height: 24px;
          cursor: pointer;
        }
      }

      .messages {
        border-top: 1px solid rgb(229, 231, 235);
        background-color: white;
        padding: 10px;
        height: calc(100% - 100px);
        overflow: scroll;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: rgb(31 41 55);
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: rgb(229, 231, 235);
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;

              p {
                background-color: rgb(110, 197, 255);
                color: rgb(31 41 55);
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .messages::-webkit-scrollbar {
        display: none;
      }

      .input {
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          border: none;
          outline: none;
          color: #2f2d52;
          font-size: 18px;

          &::placeholder {
            color: lightgray;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            height: 24px;
            width: 24px;
            cursor: pointer;
          }

          button {
            border: none;
            padding: 10px 15px 10px 5px;
            color: rgb(31 41 55);
            background-color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}